.Mainheading {
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    
top: 0px;
right: 200px;
    }
p {
        font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
        text-align: Center, justify;
        width: 80%;
        margin-left; 100px;
    }
    
h2 { 
        font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
        text-align: Center;
        font-weight: bold;
        
       
    }
    

    
.points {
        font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
        font-size: medium;
        text-align: Center, justify;
        width: 80%;
        margin-left; 100px;
    }
li {margin-left: 0px;
    text-align: left, justify;
    width: 80%;
    font-style: italic;
    font-size: small;
    }
.ulheadings{
    font-weight: bolder;
    font-style: italic;
    font-size: medium;
}
    
.Titlepage {
    background-color: whitesmoke;
    Border: 2px solid black;}

.IntroHeading1{
    text-align: left;}
.meme1 { 
        width: 300px;
      height: 300px;
      position: sticky;
      position: center;
      float: left;
      
    }
    .meme1A { 
        width: 200px;
      height: 200px;
      position: sticky;
      position: center;
      float: left;
      margin-left: 150px;
    }
    
.openingIntro {
    text-align: justify;
    margin-left: 150px;
}
.Theschool{
    background-color: goldenrod;
    Border: 2px solid black;   
}
.You{
    background-color: pink;
    Border: 2px solid black;   
}
.Studentay{
    background-color: lightgreen;
    Border: 2px solid black;   
}

.Team{
    background-color: lightgoldenrodyellow;
    Border: 2px solid black;   
}

.meme2 { align-content: center; 
    width: 250px;
  height: 150px;
  margin-left: 575px;
  Border: 2px solid black; 
}
.meme3 { align-content: center; 
    width: 300px;
  height: 300px;
  margin-left: 200px;
  Border: 2px solid black; 
}
.meme4 { align-content: center; 
    width: 300px;
  height: 300px;
  Border: 2px solid black; 
  margin-left: 150px;
}
.meme5 { align-content: center; 
    width: 500px;
  height: 300px;
  Border: 2px solid black; 
  margin-left: 450px;
}
.meme6 { align-content: center; 
    width: 200px;
  height: 200px;
  Border: 2px solid black;
  margin-left: 575px;
}
.theyarejusthumankids {text-align: justify;
    margin-left: 150px;}
.meme { align-content: center; 
    width: 300px;
  height: 300px;
  margin-left: 575px;
  
}
.meme7 { align-content: center; 
    width: 300px;
  height: 300px;
  margin-left: 575px;
  Border: 2px solid black;
}
.meme8 { align-content: center; 
    width: 200px;
  height: 200px;
  margin-left: 575px;
  Border: 2px solid black;
}


.memewall { align-content: center; 
    width: 300px;
  height: 300px;
  Border: 2px solid black; 
  margin-left: 100px;
}




.links {display: inline-block;
padding: 100px;
font-size: x-large;
border: 10px solid blue;
background: lightgoldenrodyellow;
left: 300px;

}

.whole {background-color: lightskyblue;}
 

<div class=''>